body{
  background-color: #b4c2c5;
}







.navbar-brand {
  color: #ebecec;
  font-family: Ariel;
  font-weight: bold;
}

ul li .nav-link {
  color: #ffffff;
  font-weight: bold;
  
}

ul li{
  justify-items: center;
  text-align: center;
}

/*cover*/
.sec-cover {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('image/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
display: table;
}

.ver-line {
  display: table-cell;
  vertical-align: middle;
  
}

.sec-cover h2 {
font-family: 'Diplomata', cursive;
  font-size: 60px;
  color: #f4f4f4;
 text-align: center;
 font-weight: 15px;
 
}

.sec-cover p {
  line-height: 5;
font-weight:bold;
  color: #f4f4f4;
 text-align: center;
}

@media only screen and (min-width: 1000px) {
.sec-cover {
  width: 100%;
  height: 500px;
  background-image: url('image/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
display: table;
}

.ver-line {
  display: table-cell;
  vertical-align: middle;
  
}

.sec-cover h2 {
font-family: 'Diplomata', cursive;
  font-size: 60px;
  color: #f4f4f4;
 text-align: center;
 font-weight: 15px;
 
}

.sec-cover p {
  line-height: 5;
font-weight:bold;
  color: #f4f4f4;
 text-align: center;
}

  
}
