* {
  padding: 0px;
  margin: 0px;
}
.navbar {
  /* background-color:rgba(59, 122, 238, 0.952); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 25, 130, 1) 66%,
    rgba(38, 0, 255, 1) 100%
  );
}
.navbar-brand {
  color: #ebecec;
  font-family: "Aclonica", sans-serif;
  font-weight: bold;
}

.navbar-brand img {
  padding: 0px;
  margin: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.navbar-brand:hover {
  color: #ebecec;
  font-family: "Aclonica", sans-serif;
  font-weight: bold;
}
ul {
  padding: 0px;
  margin: auto;
}

.dropdown-menu {
  background-color: rgba(43, 55, 235, 0.849);
  color: #ffffff;
}

.dropdown-menu .dropdown-item {
  color: #ffffff;
  font-family: "STIX Two Text", serif;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(43, 55, 235, 0.849);
}

ul li .nav-link {
  color: #ffffff;
  font-family: "STIX Two Text", serif;
  margin: 15px;
  padding: 0px;
}

ul li .nav-link:hover {
  color: #ffffff;
  font-family: "STIX Two Text", serif;
  margin: 15px;
  padding: 0px;
}

ul li {
  justify-items: center;
  text-align: center;
}

ul li:hover {
  justify-items: center;
  text-align: center;
  background-color: rgba(43, 55, 235, 0.849);
  border-radius: 10px;
  border-bottom: 2px solid;
}

/*cover*/
.sec-cover {
  width: 100%;
  height: calc(100vh - 335px);
  background-image: url("image/cover2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2px solid rgb(13, 168, 240);
  border-bottom: 2px solid rgb(13, 168, 240);
  display: table;
}

.ver-line {
  display: table-cell;
  vertical-align: middle;
}

.sec-cover h2 {
  font-family: "Diplomata", cursive;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  font-weight: 15px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.sec-cover p {
  line-height: 2;
  font-weight: bold;
  font-size: 40px;
  color: #fcecec;
  text-align: center;
  text-shadow: 5px 2px 5px #020202;
}

@media only screen and (max-width: 1000px) {
  .sec-cover {
    width: 100%;
    height: 500px;
    background-image: url("image/cover2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
  }

  .ver-line {
    display: table-cell;
    vertical-align: middle;
  }

  .sec-cover h2 {
    font-family: "Diplomata", cursive;
    font-size: 60px;
    color: #faf3f3e1;
    text-align: center;
    font-weight: 15px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
  }

  .sec-cover p {
    line-height: 5;
    font-weight: bold;
    color: #f4f4f4;
    text-align: center;
    text-shadow: 5px 2px 5px #020202;
  }
}

@media only screen and (max-width: 550px) {
  .sec-cover {
    width: 100%;
    height: 500px;
    background-image: url("image/cover2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
  }

  .ver-line {
    display: table-cell;
    vertical-align: middle;
  }

  .sec-cover h2 {
    font-family: "Diplomata", cursive;
    font-size: 60px;
    color: #faf3f3e1;
    text-align: center;
    font-weight: 15px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
  }

  .sec-cover p {
    line-height: 5;
    font-weight: bold;
    color: #f4f4f4;
    text-align: center;
    text-shadow: 5px 2px 5px #020202;
  }
}

/* end cover */

/* SECTION 2 */

.sec-two {
  background-color: rgba(12, 11, 11, 0.911);
}

.sz_sec {
  text-align: center;
  color: darkgoldenrod;
  padding: 2rem;
  margin: auto;
  font-size: bold;
}

.sz_sec .h-main-2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
}

.sec-two .cover-img-game {
  padding: 0px;
  margin: auto;
}
.sec-two .cover-img-game .img_cov {
  display: block;
  width: 60%;
  padding: auto;
  margin: auto;
  height: auto;
}

.sec-two .cover-img-game .par-img {
  color: azure;
  padding: 1rem;
  text-align: center;
  font-size: 100;
  font-family: "Bitter", serif;
}

.sec-two .vert-cent {
  display: block;
  justify-items: center;
  padding: 2rem;
  text-align: center;
}

.sec-two .vert-cent .bbtn-download {
  width: 250px;
  height: 50px;
  padding: auto;
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(231, 209, 9, 0.877);
}
.sec-two .vert-cent .bbtn-download:hover {
  background-color: rgba(22, 109, 223, 0.842);
}

.sec-two .cover-img-game .vert-cent .bbtn-download a {
  text-align: center;
  color: #010102f3;
  font-weight: 200;
  font-size: bold;
}

.vert-cent a {
  text-decoration: none;
  color: #010102f3;
}

/* section-thre-about-media-home */

.sec-about-media {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 25, 130, 1) 89%,
    rgba(38, 0, 255, 1) 100%
  );
  border-top: 2px solid rgb(13, 168, 240);
  border-bottom: 2px solid rgb(13, 168, 240);
}

.about-h .h-about-media {
  color: #f4f4f4;
  padding-top: 2rem;
}

.about-h .p-about-media {
  text-align: left;
  color: #f4f4f4;
}

.about-h .span-about-media {
  color: #f4f4f4;
}

.media-logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #f4f4f4;
  text-align: right;
}

.media-logo .bi {
  margin: 5px;
}

.media-logo .bi:hover {
  margin: 5px;
  color: aqua;
}

/*albumaq.html*/

.album-aq {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 25, 130, 1) 89%,
    rgba(38, 0, 255, 1) 100%
  );
}

.h-alb {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  text-align: center;
  color: darkgoldenrod;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.img-alb {
  padding: 2rem;
  text-align: center;
}

.img-alb .img-pic {
  width: 300px;
  height: 200px;
  padding: 2px;
  align-items: center;
  text-align: center;
  margin: 2px;
  border-radius: 10px;
}
.img-alb .img-pic:hover {
  transform: scale(0.8);
}

@media only screen and (max-width: 450px) {
  .img-alb .img-pic {
    width: 100%;
    height: auto;
    padding: 2px;
    align-items: center;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
  }
}

.full-images {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-images .full-pic {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.full-images .closebtn {
  position: absolute;
  top: 15%;
  right: 15%;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.full-images .closebtn:hover {
  color: rgba(224, 7, 7, 0.925);
}

@media only screen and (max-width: 450px) {
  .full-images {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .full-images .full-pic {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
  }

  .full-images .closebtn {
    position: absolute;
    top: 15%;
    right: 5%;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
  }
}

/* blogaq.html */

.sec-one-blogaq {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 25, 130, 1) 89%,
    rgba(38, 0, 255, 1) 100%
  );
}

.h-blog {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  color: darkgoldenrod;
}

.vid-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem 2rem;
}

.vid-box .video-show {
  display: flex;
  text-align: center;
}

.vid-box .video-show .vid1 {
  padding-top: 2rem;
}

.vid-box .video-show .vid1 .h-vid {
  color: #f4f4f4;
  padding: 10px 10px;
}
.vid-box .video-show .vid1 iframe {
  width: 500px;
  height: 250px;
  row-gap: 10px;
}

@media only screen and (max-width: 500px) {
  .vid-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem 2rem;
  }

  .vid-box .video-show {
    display: block;
    text-align: center;
  }

  .vid-box .video-show .vid1 {
    padding-top: 2rem;
  }

  .vid-box .video-show .vid1 iframe {
    width: 100%;
    max-width: 500px;
    row-gap: 10px;
  }

  .vid-box .video-show .vid1 .h-vid {
    color: #f4f4f4;
    padding: 10px 10px;
  }
}



/* main.HTML */

.main-sec {
  background: rgb(3, 26, 113);
  background: linear-gradient(
    90deg,
    rgba(3, 26, 113, 1) 100%,
    rgba(11, 15, 130, 1) 100%,
    rgba(38, 0, 255, 1) 100%
  );
  padding: 5%;
}
.main-h {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  text-align: center;
  color: darkgoldenrod;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.main-box h1 {
  margin: 50px;
  color: #ffffff;
}

.main-box .counters {
  margin: 50px;
  color: #ffffff;
  font-size: 50px;
}

.container {
  padding-bottom: 2rem;
}
/* phone */
@media only screen and (max-width: 550px) {
  .main-sec {
    background-color: rgba(12, 11, 11, 0.911);
    padding: 0px;
    text-align: center;
    padding: 5%;
  }
  .main-h {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    text-align: center;
    color: darkgoldenrod;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .main-box {
    display: inline-block;
    text-align: center;
    padding-bottom: 2rem;
  }

  .main-box h1 {
    margin: 50px;
    color: #ffffff;
  }

  .main-box .counters {
    margin: 50px;
    color: #ffffff;
    font-size: 50px;
  }
}

/* section2 index.html */

.playoff {
  background: black;
  padding: 5%;
}
.playoff .gameplayoff {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: rgba(134, 130, 130, 0.6);
  border-radius: 10px;
}

.playoff .container {
  padding: 2rem;
}

.gameplayoff .game-text {
  text-align: center;
}

.game-h {
  color: #f4f4f4;
}

.game-imges {
  text-align: center;
}

.game-imges .pic-info {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.game-p {
  text-align: center;
  color: #f4f4f4;
}

@media only screen and (max-width: 500px) {
  .playoff {
    background: black;
  }
  .playoff .gameplayoff {
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: rgba(0, 0, 0, 0.6);
    
  }

  .gameplayoff .game-text {
    text-align: center;
  }

  .game-h {
    text-align: center;
    color: #f4f4f4;
  }

  .game-imges {
    text-align: center;
  }

  .game-imges .pic-info {
    width: 100%;
    max-width: 400px;
  }

  .game-p {
    text-align: center;
    color: #f4f4f4;
  }
}

/* Gamelist */
.game-list {
  background-color: rgba(12, 11, 11, 0.911);
  padding: 5%;
}

.game-list .container {
  padding: 2rem;
  background: rgb(2,0,36);
background: linear-gradient(53deg, rgba(2,0,36,1) 0%, rgba(7,34,77,1) 99%);
}

.listed-showgame .tittle-headgamelist {
  color: darkorange;
}

.game-list .game-headbox {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 10%;
}
.game-headbox .game1 {
  text-align: left;
}

.game-headbox .game1 .tittle-game {
  color: #f4f4f4;
  text-align: center;
  margin: 10%;
}

.img-gameshow {
  position: relative;
  text-align: center;
}

.img-gameshow .img-pic {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

@media only screen and (max-width: 500px) {

  .game-list {
    background-color: rgba(12, 11, 11, 0.911);
    padding: 5%;
  }
  
  .game-list .container {
    padding: 2rem;
    background: rgb(2,0,36);
  background: linear-gradient(53deg, rgba(2,0,36,1) 0%, rgba(7,34,77,1) 99%);
  }
  
  .listed-showgame .tittle-headgamelist {
    color: darkorange;
  }
  
  .game-list .game-headbox {
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 10%;
  }
  .game-headbox .game1 {
    text-align: left;
  }
  
  .game-headbox .game1 .tittle-game {
    color: #f4f4f4;
    text-align: center;
    margin: 10%;
  }
  
  .img-gameshow {
    position: relative;
    text-align: center;
  }

  

  
  .img-gameshow .img-pic {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
  }
  
}

/*Footer*/

footer {
  background-color: black;
}

.foter-algn {
  padding-top: 2rem;
  margin: auto;
  text-align: center;
  color: #f4f4f4;
}

.privacy {
  padding-bottom: 20px;
}

.privacy .privacy-page {
  text-decoration: none;
  color: #f4f4f4;
  margin: 10px;
}
.privacy .privacy-page:hover {
  border-bottom: 2px solid rgb(90, 197, 230);
}

@media only screen and (max-width: 550px) {
  footer {
    background-color: black;
  }

  .foter-algn {
    padding-top: 2rem;
    margin: auto;
    text-align: center;
    color: #f4f4f4;
  }

  .privacy {
    padding-bottom: 20px;
  }

  .privacy .privacy-page {
    text-decoration: none;
    color: #f4f4f4;
    margin: 10px;
  }
  .privacy .privacy-page:hover {
    border-bottom: 2px solid rgb(90, 197, 230);
  }
}
