*{
padding: 0%;
margin: 0%;

}
.navbar{

  background-color:rgba(0, 0, 0, 0.849);
}


.navbar-brand {
  color: #ebecec;
  font-family: 'Aclonica', sans-serif;
  font-weight: bold;
  
}
.navbar-brand:hover{
  color: #ebecec;
  font-family: 'Aclonica', sans-serif;
  font-weight: bold;
  
}

ul li .nav-link {
  color: #ffffff;
  font-family: 'STIX Two Text', serif;
  margin: 15px;
  padding: auto;
  
}

ul li .nav-link:hover {
  color: #ffffff;
  font-family: 'STIX Two Text', serif;
  margin: 15px;
  padding: auto;
  
}


ul li{
  justify-items: center;
  text-align: center;
}

ul li:hover{
  justify-items: center;
  text-align: center;
  background-color: rgba(43, 55, 235, 0.849);
  border-radius: 10px;
  border-bottom: 2px solid;
}

/*cover*/
.sec-cover {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('image/310841918_1191789771369987_1424673138626200247_n.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
display: table;
}

.ver-line {
  display: table-cell;
  vertical-align: middle;
  
}

.sec-cover h2 {
font-family: 'Diplomata', cursive;
  font-size: 100px;
  color: #ffffff;
 text-align: center;
 font-weight: 15px;
 text-shadow: 2px 2px 3px  rgb(0, 0, 0);
 
 
 
 
}

.sec-cover p {
  line-height: 5;
font-weight:bold;
font-size: 40px;
  color: #fcecec;
 text-align: center;
 text-shadow: 5px 2px 5px #020202;

}

@media only screen and (max-width: 1000px) {
.sec-cover {
  width: 100%;
  height: 500px;
  background-image: url('image/310841918_1191789771369987_1424673138626200247_n.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
display: table;
}

.ver-line {
  display: table-cell;
  vertical-align: middle;
  
  
}

.sec-cover h2 {
font-family: 'Diplomata', cursive;
  font-size: 60px;
  color: #faf3f3e1;
 text-align: center;
 font-weight: 15px;
 text-shadow: 2px 2px 3px  rgb(0, 0, 0);
 
}

.sec-cover p {
  line-height: 5;
font-weight:bold;
  color: #f4f4f4;
 text-align: center;
 text-shadow: 5px 2px 5px #020202;
}

  
}/* end cover */


/* SECTION 2 */

.sec-two {

  background-color: rgba(12, 11, 11, 0.911);

}


.sz_sec {

  text-align: center;
  color: darkgoldenrod;
  padding: 2rem;
  margin: auto;
  font-size: bold;
}

.sec-two .cover-img-game {

  padding: 3rem;
  margin: auto;
}
.sec-two .cover-img-game .img_cov {

  display: block;
  width: 60%;
  padding: auto;
  margin: auto;
  height: auto;

}

.sec-two .cover-img-game .par-img {

color: azure;
padding: 1rem;
text-align: center;
font-size: 100;

}

.sec-two  .vert-cent {
  display: block;
  justify-items: center;
  padding: 2rem;
  text-align: center;

  
}

.sec-two .vert-cent .bbtn-download {

width: 250px;
 height: 50px;
 padding: auto;
 margin: 5px;
 border-radius: 20px;
 background-color: rgba(231, 209, 9, 0.877);

}
.sec-two .vert-cent .bbtn-download:hover {

 background-color: rgba(22, 109, 223, 0.842);
 

}

.sec-two .cover-img-game .vert-cent .bbtn-download a {

  text-align: center;
  color: #010102f3;
  font-weight: 200;
  font-size: bold;
 
}


/*albumaq.html*/


.sec-one {

background-color: rgba(14, 14, 15, 0.774);
}

.row {
padding: 2rem;
}

.row .h-alb{
  text-align: center;
  color: rgba(184, 136, 14, 0.932);
  font-size: bold;
  padding: 2rem;

}

.row .col {
  display: block;
  text-align: center;
  margin: auto;

}
.row .col .alb-page {

  padding: 2rem;
  width: 100%;
  width: 333px;
  
}

.row .col .par-page {

  color: #f4f4f4;
  font-size: bold;
}














/*Footer*/

footer{

  background-color: black;

}


.foter-algn {
  padding: 1rem;
  margin: auto;
  text-align: center;
  color: #f4f4f4;

}